<div class="tech-btm">
	<h4>Mail Bültenine Abone Olun</h4>
	<p>Teknoloji, yazılım ve diğer bloglarımızla alakalı gelişmelerden mail aracılığı ile haberdar olun! </p>
	<form method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Subscribe">
	</form>

</div>